.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 100px;
  color: #818181;
  display: block;
}


.sidenav p:hover {
  color: #f1f1f1;
}


body {
  background-image: url("./assets/background.png");
  background-size: cover;
}


h4 {
  font-size: 200%;
}
